
{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Nova Tarefa:</h3>
<form action="/admin/tarefas/nova" method="POST">
    <label for="nome">Nome: </label>
    <input type="text" id="nome" name="nome" placeholder="nome da tarefa" class="form-control">
    <label for="descricao">Descricão</label>
    <textarea name="descricao" id="descricao" cols="5" rows="5" class="form-control"></textarea>
    <label for="prazo">Prazo:</label>
    <input type="datetime-local" name="prazo" id="prazo" class="form-control">
    <br>
    <label for="prioridade">Prioridade da tarefa:</label>
    <br>
    <input type="radio" name="prioridade" id="alta" value="Alta" > Alta
    <input type="radio" name="prioridade" id="media" value="Media" > Média
    <input type="radio" name="prioridade" id="baixa" value="Baixa"> Baixa
    <br><br>
    <label for="concluida">Status de conclusão:</label>
    <br>
    <input type="radio" name="concluida" id="concluida" value="Concluida"> Concluida
    <input type="radio" name="concluida" id="emProcesso" value="Em Processo"> Em processo
    <input type="radio" name="concluida" id="naoConcluida" value="Não Concluida"> Não Concluida
    <br><br>
    <button type="submit" class="btn btn-success">Enviar Tarefa</button>

</form>